.container, mat-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 50vw;
    margin: 1.25rem;
}

.container form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}