form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

mat-form-field {
    width: 100%;
}

.container {
    margin: 1.5rem;
}